header.container
    h1( class="logo" ) Spaify
    nav
        ul( class="nav nav-pills" )
            li
                a( href="index.jade" ) Step 1
            li
                a( href="step-2.jade" ) Step 2
            li
                a( href="//google.com" ) External links are not affected: Google
            li
                a( href="non-existant.jade" ) Non existant links work as expected
