doctype html
head
    include _head.jade
body
    include _header.jade

    .container
        h2 The index page
        p Enter your name:
        input( v-model="name" )

    .container
        p Your name is {{ name }}
        a( href="step-2.jade" v-show="name" ) After you have typed your name, go to step 2.

    include _scripts.jade
